# This pipeline purpose is solely meant to run a subset of our test suites against a kubernetes cluster
name: kubernetes

on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  linux:
    runs-on: ubuntu-24.04
    timeout-minutes: 40
    env:
      ROOTFUL: true
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: "Run Kubernetes integration tests"
        # See https://github.com/containerd/nerdctl/blob/main/docs/testing/README.md#about-parallelization
        run: |
          ./hack/build-integration-kubernetes.sh
          sudo ./_output/lepton exec cli-test-control-plane bash -c -- 'export TMPDIR="$HOME"/tmp; mkdir -p "$TMPDIR"; cd /cli-source; /usr/local/go/bin/go test -p 1 ./cmd/lepton/... -test.only-kubernetes'
